<article class="py-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
            <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            {% if section.settings.enable_author %}
              <small class="font-bold">{{article.author}}</small> 
            {% endif %}
          </div>
        </div>
        
      {% when 'article_published_date' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            {% if section.settings.enable_date %}
              <time datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at |  date: '%Y-%m-%d' }}</time>
            {% endif %}
          </div>
        </div>
        
      {% when 'featured_image' %}
        <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
          {% if article.image != blank %}
            {{ article.image 
              | image_url: width: 1200
              | image_tag: 
                  class: "w-full h-80 md:h-96 object-cover object-center"
            }}
          {% else %}
            {% assign placeholder_image = 'lifestyle-2' %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="flex items-center justify-center">
          <div class="max-w-4xl">
            {{ article.content }}
          </div>
        </div>         
      {% else %}   
    {% endcase %}
  {% endfor %}
</article>


{% if blog.comments_enabled? %}
  <h2>{{ 'blog.article_comments' | t }}</h2>

  <div id="comments">
    {% paginate article.comments by 10 %}
      {% for comment in article.comments %}
        <div>
          <p>{{ comment.author }}</p>
          <p>
            {{- comment.created_at | time_tag: format: 'date' -}}
          </p>
          <p>{{ comment.content }}</p>
        </div>
      {% endfor %}

      {{ paginate | default_pagination: anchor: 'comments' }}
    {% endpaginate %}
  </div>

  {% form 'new_comment', article %}
    <h2>{{ 'blog.comment_form_title' | t }}</h2>

    {{ form.errors | default_errors }}

    <div>
      <label for="author">{{ 'blog.comment_form_name' | t }}</label>
      <input type="text" name="comment[author]" id="author" value="{{ form.author }}" required>
    </div>

    <div>
      <label for="email">{{ 'blog.comment_form_email' | t }}</label>
      <input type="email" name="comment[email]" id="email" value="{{ form.email }}" required>
    </div>

    <div>
      <label for="body">{{ 'blog.comment_form_body' | t }}</label>
      <textarea name="comment[body]" id="body" required>{{ form.body }}</textarea>
    </div>

    <input type="submit" value="{{ 'blog.comment_form_submit' | t }}">
  {% endform %}
{% endif %}

{% schema %}
{
  "name": "t:general.article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "Display Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
