{% comment %}
  This section is used in the blog template to render the blog page listing all
  articles within a blog.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/blog
{% endcomment %}

{% paginate blog.articles by section.settings.number_of_blog_posts %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <div class="flex items-center justify-center">
          {{ article.image | image_url: width: 500, height: 300 | image_tag: class: 'object-cover' }}
        </div>
      {% else %}
        <div class="flex items-center justify-center">
          {{ 'image' | placeholder_svg_tag: width: 100, height: 100 }}
        </div>
      {% endif %}
      <h2>
        {{ article.title | link_to: article.url }}
      </h2>
      {% if article.excerpt.size > 0 %}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
      {% endif %}
      {% assign date = article.published_at | time_tag: format: 'date' %}
      <p>{{ 'blog.article_metadata_html' | t: date: date, author: article.author }}</p>
    </div>
  {% endfor %}
{% endpaginate %}

{% schema %}
{
  "name": "t:general.blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "label": "Blog posts per page",
      "default": 3,
      "min": 1,
      "max": 6,
      "step": 1
    }
  ]
}
{% endschema %}
