{% paginate collection.products by 6 %}
  {% for product in collection.products %}
    {% if product.featured_image %}
      {{ product.featured_image | image_url: width: 200, height: 200 | image_tag: class: 'w-50 h-50 object-cover' }}
    {% endif %}
    <span>{{ product.vendor }}</span>
    <a href="{{ product.url }}">{{ product.title }}</a>
    <span>{{ product.price | money }}</span>
  {% else %}
    <p>No products found in this collection.</p>
  {% endfor %}

  {% render 'pagination', pagination: paginate %}
{% endpaginate %}
